<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>local.open-on-iphone</string>
<key>CFBundleName</key><string>Open on iPhone</string>
<key>CFBundleDisplayName</key><string>Open on iPhone</string>
<key>CFBundleExecutable</key><string>NativeHost</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>LSUIElement</key><true/>
</dict></plist>
